<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/events">Events Manager</a>
      <a type="button"  href="/create" class="btn btn-outline-success">Create event</a>
  </div>
</nav>

